@import "../../index.module.css";

.container {
    display: flex;
    flex-direction: row;
    margin: 40px auto;
}

.back {
    display: flex;
    justify-content: flex-start;
    margin-left: 230px;
    margin-top: 40px;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 14px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.back:hover {
    background-color: var(--secondary-color);
}

.country {
    width: 50%;
}

.info {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--grey);
    width: 40%;
    border-radius: 1rem;
    background: #fff;
    padding-top: 10px;
}

.activities {
    margin-top: 20px;
    width: 80%;
    margin: auto;
}

.activity {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30% 30%;
}
.flag {
    max-width: 300px;
    max-height: 300px;
    padding-top: 1rem;
}

h2 {
    margin: 20px 0;
    text-transform: uppercase;
    color: var(--green)
}

h3 {
    font-size: 22px;
    color: var(--green);
    padding: 0 10px;
    line-height: 25px;
}

span {
    font-weight: 600;
    font-size: 16px;
}

.card p {
    font-size: 16px;
    padding-bottom: 20px; 
    color: #000;
} 

