@import '../../index.module.css';


.form {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    margin-top: 50px;
}

.formGroup {
  margin-top: 15px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid var(--green);
}

.input:focus {
  border: 1px solid var(--primary-color);
}

.form .select {
  min-height: 38px;
  min-width: 100%;
  max-width: 100%;
  border-radius: 3px;
  border: 1px solid var(--green);
}

.form .selectCountry {
  min-height: 120px;
  min-width: 100%;
  max-width: 100%;
}
 
.btn {
  width: 200px;
  margin: 10px auto;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 30px;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.form label {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}