@import "../../index.module.css";

* {
    box-sizing: border-box;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    margin-top: 50px;
}

.card {
    flex: 0 1 25%;
    list-style: none;
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--grey);
    width: 280px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 40px;
}

.flag {
    padding-top: 1rem;
    max-height: 250px;
    max-width: 250px;
}

div span {
    display: block;
    font-weight: 700;
    font-size: 23px;
    color: var(--green);
    margin-top: 15px;
}

div a {
    text-decoration: none;
}

div p {
    font-size: 16px;
    margin-top: 5px;
    color: var(--primary-color);
}